{# Plantilla de nuestra aplicación #}
{% extends "base.html.twig" %}
{% form_theme form 'form/tapaForm.html.twig' %}
    {% block title %}
        Nueva Reserva
    {% endblock %}
        {# Inicio del body #}
    {% block body %}
    <!-- Page Content -->
    <div class="container">

        <h1 class="my-4">Nueva reserva</h1>
        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-md-8">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    {% endblock %}